// COLORS
$color-white: hsl(0, 0%, 98%);
$color-gray: hsl(0, 0%, 41%);
$color-black: hsl(0, 0%, 8%);

// FONTS
$font-display: "Epilogue", sans-serif;

$fz-p: 1.8rem;

$fw-regu: 500;
$fw-bold: 700;

// BREAK POINTS
$bp-mobile: 23.5em; //375px
$bp-desktop: 90em; //1440px
